body{
    background-color: rgb(163, 240, 240);
}

.titulo{
    background-color: aquamarine;
    font-family: 'Potta One', cursive;
    color:rgb(97, 97, 233);
    font-size:35px;
    text-align: center;
    width: 700px;
    margin: auto;
    border: 2px dashed blueviolet;
}

.contenido{
    background-color: deepskyblue;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    width: 380px;
    height: 150px;
    position: absolute;
    top: 180px;
    right:400px;
   border: 2px dashed darkblue;
}

.nombres{
    background-color: rgb(180, 147, 233);
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    width: 300px;
    height: 150px;
    position: absolute;
    top: 350px;
    right: 450px;
    border: 2px dashed darkblue;
    
}
P{
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    background-color: chartreuse;
    width: 500px;
       
}
img{
    width: 230px;
    height: 180px;
}